@page "/spells"
@using DynamicPotterTrivia.Models
@using DynamicPotterTrivia.Services
@inject HttpClient Http
@inject IMatToaster Toaster
@inject IScoreTrackerService ScoreTrackerService

<MatHeadline1>Spell Questions</MatHeadline1>
<MatBody1>Guess the spell from the given description and type! Use the fewest hints possible to get the highest score!</MatBody1>

@if (spells == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MatBody1><b>Current Points Awarded:</b> @currentPointsAwarded</MatBody1>

    <MatButton Raised="true" @onclick="GetNewQuestion" Icon="navigate_next">New question</MatButton>
    <MatButton Outlined="true" @onclick="GetHint" Icon="search" Disabled="@noMoreHints">Get hint</MatButton>

    <MatBody1><b>Description:</b> @randomSpell.effect</MatBody1>
    <MatBody1><b>Type:</b> @randomSpell.type</MatBody1>

    <p>
        <MatTextField @bind-Value="@currentAnswer" Label="Place your answer here..."></MatTextField>
    </p>
    <MatButton Unelevated="true" @onclick="CheckAnswer" Icon="done">Answer!</MatButton>
    <MatButton Outlined="true" @onclick="ShowAnswer" Icon="done">Show answer</MatButton>

    <MatBody1>Hint: @hintString</MatBody1>

    <MatDialog @bind-IsOpen="@correctAnswer">
        <MatDialogTitle>Correct!</MatDialogTitle>
        <MatDialogContent>
            <MatBody1>Yes, @currentAnswer is the correct answer!</MatBody1>
        </MatDialogContent>
        <MatDialogActions>
            <MatButton OnClick="@GetNewQuestion">New Question</MatButton>
        </MatDialogActions>
    </MatDialog>
}
