@page "/statistics"

@using ChartJs.Blazor.Charts
@using ChartJs.Blazor.ChartJS.PieChart
@using ChartJs.Blazor.ChartJS.Common.Properties
@using ChartJs.Blazor.Util
@using DynamicPotterTrivia.Services

@inject IScoreTrackerService ScoreTrackerService

<MatHeadline1>Statistics</MatHeadline1>

<style>
    .demo-mat-card {
        max-width: 250px;
        background-color: ghostwhite
    }

    .demo-mat-card-content {
        padding: 1rem;
    }

    .demo-mat-card-clean-margin {
        margin: 0px;
    }
</style>

@if (ScoreTrackerService.GetTotalScore() > 0)
{
<div class="row">
    <div class="col-md-5">
        <ChartJsPieChart @ref="_pieChartJsScoreByCategory" Config="@_PieConfigScoreByCategory" Width="600" Height="300" />
        <MatHeadline3>Totals</MatHeadline3>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Score: @ScoreTrackerService.GetTotalScore()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Correct: @ScoreTrackerService.GetTotalCorrectAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Wrong: @ScoreTrackerService.GetTotalWrongAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Clues used: @ScoreTrackerService.GetTotalCluesUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Hints used: @ScoreTrackerService.GetTotalHintsUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
        </div>
        <MatHeadline3>Harry Potter</MatHeadline3>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Score: @ScoreTrackerService.GetTotalHPScore()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Correct: @ScoreTrackerService.GetHPCorrectAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Wrong: @ScoreTrackerService.GetHPWrongAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Clues used: @ScoreTrackerService.GetHPCluesUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Hints used: @ScoreTrackerService.GetHPHintsUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
        </div>
        <MatHeadline3>Lord of the Rings</MatHeadline3>
    <div class="mat-layout-grid">
        <div class="mat-layout-grid-inner">
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="demo-mat-card-clean-margin">
                                Score: @ScoreTrackerService.GetTotalLOTRScore()
                            </MatHeadline6>
                        </div>
                    </MatCardContent>
                </MatCard>
            </div>
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="demo-mat-card-clean-margin">
                                Correct: @ScoreTrackerService.GetLOTRCorrectAnswers()
                            </MatHeadline6>
                        </div>
                    </MatCardContent>
                </MatCard>
            </div>
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="demo-mat-card-clean-margin">
                                Wrong: @ScoreTrackerService.GetLOTRWrongAnswers()
                            </MatHeadline6>
                        </div>
                    </MatCardContent>
                </MatCard>
            </div>
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="demo-mat-card-clean-margin">
                                Clues used: @ScoreTrackerService.GetLOTRCluesUsed()
                            </MatHeadline6>
                        </div>
                    </MatCardContent>
                </MatCard>
            </div>
            <div class="mat-layout-grid-cell">
                <MatCard class="demo-mat-card">
                    <MatCardContent>
                        <div class="demo-mat-card-content">
                            <MatHeadline6 class="demo-mat-card-clean-margin">
                                Hints used: @ScoreTrackerService.GetLOTRHintsUsed()
                            </MatHeadline6>
                        </div>
                    </MatCardContent>
                </MatCard>
            </div>
        </div>
    </div>
    <MatHeadline3>Game of Thrones</MatHeadline3>
        <div class="mat-layout-grid">
            <div class="mat-layout-grid-inner">
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Score: @ScoreTrackerService.GetTotalGOTScore()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Correct: @ScoreTrackerService.GetGOTCorrectAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Wrong: @ScoreTrackerService.GetGOTWrongAnswers()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Clues used: @ScoreTrackerService.GetGOTCluesUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
                <div class="mat-layout-grid-cell">
                    <MatCard class="demo-mat-card">
                        <MatCardContent>
                            <div class="demo-mat-card-content">
                                <MatHeadline6 class="demo-mat-card-clean-margin">
                                    Hints used: @ScoreTrackerService.GetGOTHintsUsed()
                                </MatHeadline6>
                            </div>
                        </MatCardContent>
                    </MatCard>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-7">
        <ChartJsBarChart @ref="_barChartJs" Config="@_BarConfig" Width="600" Height="300" />
        <div class="row">
            <div class="col-md-6">
                <ChartJsRadarChart @ref="_radarChartJsHP"
                                   Config="@_RadarConfigHP"
                                   Width="650"
                                   Height="450" />
            </div>
            <div class="col-md-6">
                <ChartJsRadarChart @ref="_radarChartJsLOTR"
                                   Config="@_RadarConfigLOTR"
                                   Width="650"
                                   Height="450" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <ChartJsRadarChart @ref="_radarChartJsGOT"
                                    Config="@_RadarConfigGOT"
                                    Width="650"
                                    Height="450" />
            </div>
        </div>

    </div>
</div>

}
else
{
<MatBody1>Total Score is 0. No statistics to show.</MatBody1>
}

